# Analyzing Preferential Market Access

출처: UNCTAD (2012), *A Practical Guide to Trade Policy Analysis*, [Chapter 2](https://unctad.org/system/files/official-document/gds2012d2_ch2_en.pdf).

## 2. 특혜 관세의 가치 평가

여기에서는 두 가지 시장 접근성 측정치(market access measure)를 계산합니다. 첫 번째는 **직접적인** 시장 접근 조건, 즉 수출품이 직면하는 전체적인 관세를 측정합니다. 두 번째는 **상대적인** 시장 접근 조건으로서 경쟁자가 직면하는 관세에 비해 수출품이 직면하는 전체적인 관세를 측정합니다. 

수출품이 직면하는 관세의 제한성(restrictiveness)을 측정하는 지수는 Kee 등(2009)의 연구를 기반으로 합니다. 위에서 설명한 바와 같이, 관세 품목의 집계에서는 수요의 탄력성이 낮은 제품에 대해 더 낮은 가중치를 부여합니다. 이는 이러한 제품의 경우 관세 변화가 전체 거래량에 미치는 영향이 적기 때문입니다. Fugazza와 Nicita(2011)는 이 지수를 "관세 거래 제한성 지수"(TTRI)라고 부릅니다. 형식적으로, 국가 $j$가 국가 $k$에서 직면하는 TTRI는 다음과 같이 쓸 수 있습니다:

$$
TTRI_{j,k} = \frac{\sum_{hs} exp_{j, k, hs} \cdot T_{k, hs} \cdot \epsilon_{k, hs}}{\sum_{hs} exp_{j, k, hs} \cdot \epsilon_{k, hs}}
$$

여기서 `exp`는 수출, $ε$는 수입 수요의 탄력성, $T$는 적용된 관세, $hs$는 HS 6자리 카테고리를 나타냅니다.

두 번째 지수는 주어진 국가에서 수입된 상품이 직면하는 관세에 비해 동일한 상품이 다른 모든 국가에서 수입될 때 직면하는 관세의 차이를 정의합니다. 형식적으로, 국가 j의 수출업자가 국가 k에 상품을 수출할 때 가지는 이점을 측정하는 상대적 특혜 마진(RPM)은 다음과 같이 쓸 수 있습니다:

$$
RPM_{j,k} = \frac{\sum_{hs} exp_{j, k, hs} \cdot (T_{w, k, hs} - T_{k, hs}) \cdot \epsilon_{k, hs}}{\sum_{hs} exp_{j, k, hs} \cdot \epsilon_{k, hs}}
$$

다음과 같이 정의됩니다:

$$
T_{w, k, hs} = \frac{\sum_{v} exp_{v, k, hs} \cdot T_{vk, hs}}{\sum_{v} exp_{v, k, hs}}
$$

여기서 $v$는 시장 $k$에 수출하는 국가 $j$와 경쟁하는 국가이며, $T_{w, k, hs}$는 국가 $k$가 각 국가 $v$에서 수입되는 HS 6자리(무역 가중 평균) 관세를 나타냅니다.

이제 멕시코의 TTRI, 즉 멕시코 관세의 전체 무역 제한성을 거래 상대국에 대해 계산할 것입니다.

In [1]:
import pandas as pd

# Open database
df = pd.read_stata("../Data/PMA_MEX.dta")
df

         year ccode         exp     hs6 pcode         T       eps
0      2000.0   MEX   35.138000  610453   ABW  0.350000 -0.529402
1      2007.0   MEX   76.127998  841861   ABW  0.166667 -1.488444
2      2000.0   MEX   42.423996  520939   ABW  0.180000 -1.464831
3      2000.0   MEX  198.382004  610620   ABW  0.350000 -2.335579
4      2007.0   MEX   13.893000  853400   ABW  0.000000 -0.994069
...       ...   ...         ...     ...   ...       ...       ...
94694  2007.0   MEX  310.027008  252400   ZWE  0.000000 -1.046280
94695  2000.0   MEX   12.178955  490199   ZWE  0.028571 -1.143941
94696  2007.0   MEX   28.365999  847330   ZWE  0.000000 -0.662441
94697  2007.0   MEX   10.942000  732690   ZWE  0.113889 -0.987589
94698  2000.0   MEX   22.313995  847990   ZWE  0.130000 -0.252057

[94699 rows x 7 columns]

In [2]:
# Compute the TTRI measure
df['num'] = df.groupby(['ccode', 'year', 'pcode'])['exp'].transform(lambda x: (x * df['T'] * df['eps']).sum())
df['den'] = df.groupby(['ccode', 'year', 'pcode'])['exp'].transform(lambda x: (x * df['eps']).sum())
df['TTRI_elas'] = df['num'] / df['den']
df['num_'] = df.groupby(['ccode', 'year', 'pcode'])['exp'].transform(lambda x: (x * df['T']).sum())
df['den_'] = df.groupby(['ccode', 'year', 'pcode'])['exp'].transform(lambda x: x.sum())
df['TTRI_noelas'] = df['num_'] / df['den_']

In [3]:
# Compute the weighted average tariff for competitors at the hs level (Twc)
df['TotalexpT'] = df.groupby(['ccode', 'year', 'hs6'])['exp'].transform(lambda x: (x * df['T']).sum())
df['Totalexp'] = df.groupby(['ccode', 'year', 'hs6'])['exp'].transform(lambda x: x.sum())
df['Twc'] = (df['TotalexpT'] - df['exp'] * df['T']) / (df['Totalexp'] - df['exp'])

In [4]:
# Compute the RPM measure
df['num2'] = df.groupby(['ccode', 'year', 'pcode'])['exp'].transform(lambda x: (x * df['Twc'] * df['eps']).sum())
df['TTRI_others_elas'] = df['num2'] / df['den']
df['RPM_elas'] = df['TTRI_others_elas'] - df['TTRI_elas']
df['num2_'] = df.groupby(['ccode', 'year', 'pcode'])['exp'].transform(lambda x: (x * df['Twc']).sum())
df['TTRI_others_noelas'] = df['num2_'] / df['den_']
df['RPM_noelas'] = df['TTRI_others_noelas'] - df['TTRI_noelas']

In [5]:
# Compute the trade-weighted average for MEX
df['exports'] = df.groupby(['ccode', 'pcode', 'year'])['exp'].transform('sum')
df = df[['ccode', 'year', 'pcode', 'exports', 'TTRI_elas', 'TTRI_noelas', 'RPM_elas', 'RPM_noelas']].drop_duplicates()
df['Totalexports'] = df.groupby(['ccode', 'year'])['exports'].transform('sum')
df['TTRI_elas_bar'] = df.groupby(['ccode', 'year'])['TTRI_elas'].transform('mean')
df['TTRI_elas_sd'] = df.groupby(['ccode', 'year'])['TTRI_elas'].transform('std')
df['TTRI_noelas_bar'] = df.groupby(['ccode', 'year'])['TTRI_noelas'].transform('mean')
df['TTRI_noelas_sd'] = df.groupby(['ccode', 'year'])['TTRI_noelas'].transform('std')
df['TTRI_elas_wbar'] = df.groupby(['ccode', 'year']).apply(lambda x: (x['TTRI_elas'] * x['exports'] / x['Totalexports']).sum()).reset_index(level=[0,1], drop=True)
df['TTRI_elas_wsd'] = df.groupby(['ccode', 'year']).apply(lambda x: (x['TTRI_elas'] * x['exports'] / x['Totalexports']).std()).reset_index(level=[0,1], drop=True)
df['RPM_elas_bar'] = df.groupby(['ccode', 'year'])['RPM_elas'].transform('mean')
df['RPM_elas_sd'] = df.groupby(['ccode', 'year'])['RPM_elas'].transform('std')
df['RPM_noelas_bar'] = df.groupby(['ccode', 'year'])['RPM_noelas'].transform('mean')
df['RPM_noelas_sd'] = df.groupby(['ccode', 'year'])['RPM_noelas'].transform('std')
df['RPM_elas_wbar'] = df.groupby(['ccode', 'year']).apply(lambda x: (x['RPM_elas'] * x['exports'] / x['Totalexports']).sum()).reset_index(level=[0,1], drop=True)
df['RPM_elas_wsd'] = df.groupby(['ccode', 'year']).apply(lambda x: (x['RPM_elas'] * x['exports'] / x['Totalexports']).std()).reset_index(level=[0,1], drop=True)

In [6]:
# Keep relevant columns
df = df[['year', 'ccode', 'TTRI_elas_bar', 'TTRI_elas_wbar', 'RPM_elas_bar', 'RPM_elas_wbar']].drop_duplicates()
df

      year ccode  TTRI_elas_bar  TTRI_elas_wbar  RPM_elas_bar  RPM_elas_wbar
0   2000.0   MEX       0.128134        0.018553     -0.088000       0.038146
1   2007.0   MEX       0.093827        0.022455     -0.049129       0.010556
35  2000.0   MEX       0.128134             NaN     -0.088000            NaN
37  2007.0   MEX       0.093827             NaN     -0.049129            NaN